body {
    width: 80%;
    max-width: 95em;
    margin: 0 auto;
    background: #fafafa;
}

.site-header {
    margin: 1em 0 8em 0;
}

.need-a-website {
    width: 80%;
    max-width: 75em;
    margin: 0 auto;
    margin-bottom: 8em;
}

.grid-styles {
    text-align: center;
}

.grid-styles .our-team-container,
.grid-styles .testimonials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-styles .card,
.grid-styles .our-team-container::before,
.grid-styles .our-team-container::after,
.grid-styles .testimonials-container::before,
.grid-styles .testimonials-container::after {
    flex: 0 0 25.5%;
}

.grid-styles *::after,
.grid-styles *::before {
    display: block;
    content: "";
    order: 1000;
}

.grid-styles .card {
    margin-bottom: 4em;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.grid-styles .card-avatar {
    width: 8em;
    height: 8em;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 2em 0.5em rgba(0, 0, 0, 0.1);
}

.grid-styles .card-avatar::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    border: 0.4em solid rgba(255, 255, 255, 0.5);
}

.grid-styles .card-avatar img.portrait {
    width: 100%;
    height: auto;
}

.grid-styles .card-avatar img.landscape {
    width: auto;
    height: 100%;
}

.grid-styles .card-avatar img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-styles .card-position {
    color: #333;
    font-weight: normal;
}

.grid-styles .card-information {
    max-width: 70%;
    color: #1a1a1a;
    font-style: italic;
}