<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header"></head>

<body>
    <div th:replace="fragments/navigation"></div>
    
    <div class="container ">
        <ul class="navbar-nav ms-auto mt-4 ">
            <div class="card ">
                <div class="row no-gutters pt-2 mb-2 ps-2 ">
                    <div class="col-auto ">
                        <img src="/style/images/nosel4.jpg " height="100 " width="300 " class="img-fluid " alt=" ">
                    </div>
                    <div class="col text-center " >
                        <div class="card-block px-2 " >
                            <h4 class="card-title fs-5 ">Разпръскватели</h4>

                            <p class="card-text ">Description</p>
                            <div class="align-bottom ">
                                <a href="# " class="btn btn-primary " >Продукти</a>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
        </ul>
    </div>

    <div class="container ">
        <ul class="navbar-nav ms-auto mt-4 ">
            <div class="card ">
                <div class="row no-gutters pt-2 mb-2 ps-2 ">
                    <div class="col-auto ">
                        <img src="/style/images/pumps3.jpg " height="100 " width="300 " class="img-fluid " alt=" ">
                    </div>
                    <div class="col text-center " >
                        <div class="card-block px-2 " >
                            <h4 class="card-title fs-5 ">Помпи</h4>

                            <p class="card-text ">Description</p>
                            <div class="align-bottom ">
                                <a href="# " class="btn btn-primary " >Продукти</a>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
        </ul>
    </div>

    <div class="container ">
        <ul class="navbar-nav ms-auto mt-4 ">
            <div class="card ">
                <div class="row no-gutters pt-2 mb-2 ps-2 ">
                    <div class="col-auto ">
                        <img src="/style/images/top-four-irrigation-techniques.jpg " height="100 " width="300 " class="img-fluid " alt=" ">
                    </div>
                    <div class="col text-center " >
                        <div class="card-block px-2 " >
                            <h4 class="card-title fs-5 ">Капково напояване</h4>

                            <p class="card-text ">Description</p>
                            <div class="align-bottom ">
                                <a href="# " class="btn btn-primary " >Продукти</a>
                            </div>
                        </div>

                    </div>
                </div>
          </div>
        </ul>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proper.js/1.14.7/umd/proper.min.js "></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js "></script>

</html>