<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragment::head}"></head>
<body>
<div th:replace="fragments/fragment::navigation"></div>
<main>
<!--    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Регистрация</span></h1>-->
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur rounded"
          th:method="post"
          th:action="@{/users/register}"
          th:object="${userRegisterDTO}">

        <div class="form-group mt-2">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="firstName" class="h4 mb-2">Име</label>
            </div>
            <input type="text"
                   th:field="*{firstName}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="firstName"
                   name="firstName"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning" style="width:360px">Името трябва да съдържа поне 2 символа.</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="lastName" class="h4 mb-2">Фамилия</label>
            </div>
            <input type="text"
                   th:field="*{lastName}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="lastName"
                   name="lastName"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning" style="width:360px">Фамилията трябва да съдържа поне 2 символа.</small>
        </div>

        <div class="form-group mt-2">
            <h5 class="bg-danger rounded" th:if="${isExisting}">Има регистриран потребител с този имейл</h5>
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="email" class="h4 mb-2">Имейл</label>
            </div>
            <input type="email"
                   th:field="*{email}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="email"
                   name="email"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning" style="width:360px">Моля, въведете валиден имейл</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="password" class="h4 mb-2">Парола</label>
            </div>
            <input type="password"
                   th:field="*{password}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="password"
                   name="password"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning" style="width:360px">Паролата трябва да съдържа поне 3 символа.</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="confirmPassword" class="h4 mb-2">Потвърждение на паролата</label>
            </div>
            <input type="password"
                   th:field="*{confirmPassword}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="confirmPassword"
                   name="confirmPassword"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning" style="width:360px">Паролите не съвпадат.</small>
        </div>

        <div class="button-holder d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-warning mb-3" value="Register">Регистрация</button>
        </div>
    </form>
</main>

<footer th:replace="fragments/fragment::footer"></footer>
</body>
</html>