section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-basis: 800px; */
    gap: 50px;
    align-content: stretch;
}

html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 300px;
}

h2 {
    font-family: Georgia, serif;
    font-size: 2em;
    line-height: 1.2;
    font-weight: normal;
}

section:nth-child(1) {
    max-width: 70vw;
}

section:nth-child(2) {
    max-width: 70vw;
}

section:nth-child(3) {
    max-width: 70vw;
}