<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="fragments/fragment :: head"></th:block>
    <title>Мелиорации</title>
    <style>
        body {
            background-image: url('/images/pumps/pump8.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            object-fit: cover;
            height: 100%;
        }
        .img-responsive {
            width: auto;
            height: 220px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/fragment::navigation"></div>
<!--Distance between navbar and User-->
<!--<div  class=" p-2 mt-4 pt-4 "></div>-->

<div th:replace="fragments/fragment::admin-nav"></div>
<main>
    <!--    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Регистрация</span></h1>-->
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur rounded"
          th:method="post"
          th:action="@{/admin/pumps}"
          th:object="${addPumpDTO}">

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="kind"
                       class="h4 mb-2">Вид</label>
            </div>
            <input type="text"
                   th:field="*{kind}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="kind"
                   name="kind"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Видът трябва да съдържа поне 1 символ.</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder  textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0" style="--bs-bg-opacity: .7">
                <label for="model" class="h4 mb-2">Модел</label>
            </div>
            <input type="text"
                   th:field="*{model}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="model"
                   name="model"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Моделът трябва да съдържа поне 2 символа.</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="make" class="h4 mb-2">Производител</label>
            </div>
            <input type="text"
                   th:field="*{make}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="make"
                   name="make"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Производител трябва да съдържа поне 1 символ.</small>
        </div>

        <div class="form-group mt-2">
            <h5 class="bg-danger rounded" th:if="${isExisting}">Има продукт с този код.</h5>
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="code" class="h4 mb-2">Код</label>
            </div>
            <input type="text"
                   th:field="*{code}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="code"
                   name="code"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Кодът трябва да съдържа поне 1 символ.</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="voltage" class="h4 mb-2">Волтаж</label>
            </div>
            <input type="text"
                   th:field="*{voltage}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="voltage"
                   name="voltage"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Волтаж</small>
        </div>
        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="power" class="h4 mb-2">Номинална мощност</label>
            </div>
            <input type="text"
                   th:field="*{power}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="power"
                   name="power"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Номинална мощност</small>
        </div>
        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="current" class="h4 mb-2">Номинален ток</label>
            </div>
            <input type="text"
                   th:field="*{current}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="current"
                   name="current"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Номинален ток</small>
        </div>
        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="head" class="h4 mb-2">Напор</label>
            </div>
            <input type="text"
                   th:field="*{head}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="head"
                   name="head"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Напор</small>
        </div>
        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="maxWorkingPressure" class="h4 mb-2">Макс. раб. налягане</label>
            </div>
            <input type="text"
                   th:field="*{maxWorkingPressure}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="maxWorkingPressure"
                   name="maxWorkingPressure"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Макс. раб. налягане</small>
        </div>
        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="diameterInlet" class="h4 mb-2">Входен диаметър</label>
            </div>
            <input type="text"
                   th:field="*{diameterInlet}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="diameterInlet"
                   name="diameterInlet"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Входен диаметър</small>
        </div>
        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="diameterOutlet" class="h4 mb-2">Изходен диаметър</label>
            </div>
            <input type="text"
                   th:field="*{diameterOutlet}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="diameterOutlet"
                   name="diameterOutlet"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Изходен диаметър</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="weight" class="h4 mb-2">Тегло</label>
            </div>
            <input type="text"
                   th:field="*{weight}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="weight"
                   name="weight"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Тегло</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="price" class="h4 mb-2">Цена</label>
            </div>
            <input type="text"
                   th:field="*{price}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="price"
                   name="price"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Цена</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="pieces" class="h4 mb-2">Брой</label>
            </div>
            <input type="text"
                   th:field="*{pieces}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="pieces"
                   name="pieces"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Брой</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="urlPic" class="h4 mb-2">Прибави път към снимка</label>
            </div>
            <!--            <input type="file" webkitdirectory directory multiple/>-->
            <input type="file"
                   th:field="*{urlPic}"
                   th:errorclass="'is-invalid alert-danger'"
                   accept="image/png, image/jpeg, image/jpg"
                   class="form-control"
                   id="urlPic"
                   name="urlPic"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Прибави път към снимка</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="urlDiagram" class="h4 mb-2">Прибави път към диаграма</label>
            </div>
            <!--            <input type="file" webkitdirectory directory multiple/>-->
            <input type="file"
                   th:field="*{urlDiagram}"
                   th:errorclass="'is-invalid alert-danger'"
                   accept="image/png, image/jpeg, image/jpg"
                   class="form-control"
                   id="urlDiagram"
                   name="urlDiagram"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Прибави път към диаграма</small>
        </div>

        <div class="button-holder d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-warning mb-3" value="Register">Прибави</button>
        </div>
    </form>
</main>
<footer th:replace="fragments/fragment::footer"></footer>
</body>
</html>