<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="fragments/fragment :: head"></th:block>
    <title>Мелиорации</title>
    <style>
        body {
            background-image: url('/images/frontPage/drips10.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            object-fit: cover;
            height: 100%;
        }
        .img-responsive {
            width: auto;
            height: 220px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/fragment::navigation"></div>
<!--Distance between navbar and User-->
<!--<div  class=" p-2 mt-4 pt-4 "></div>-->

<div th:replace="fragments/fragment::admin-nav"></div>
<main>
    <!--    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Регистрация</span></h1>-->
    <hr class="hr-3 w-25 bg-white"/>
    <form class="mx-auto w-25 bg-blur rounded"
          th:method="post"
          th:action="@{/admin/drips}"
          th:object="${addDripDTO}">

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="name"
                       class="h5 mb-2">Име</label>
            </div>
            <input type="text"
                   th:field="*{name}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="name"
                   name="name"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Името трябва да съдържа поне 1 символ.</small>
        </div>

        <div class="form-group mt-2">
            <h5 class="bg-danger rounded" th:if="${isExisting}">Има продукт с този код.</h5>
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="code" class="h5 mb-2">Код</label>
            </div>
            <input type="text"
                   th:field="*{code}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="code"
                   name="code"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Кодът трябва да съдържа поне 1 символ.</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="diameter" class="h5 mb-2">Диаметър</label>
            </div>
            <input type="text"
                   th:field="*{diameter}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="diameter"
                   name="diameter"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Диаметър</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="maxPressure" class="h5 mb-2">Максимално работно налягане</label>
            </div>
            <input type="text"
                   th:field="*{maxPressure}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="maxPressure"
                   name="maxPressure"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Максимално работно налягане</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="distBtwDrips" class="h5 mb-2">Разстояние между капкуватели</label>
            </div>
            <input type="text"
                   th:field="*{distBtwDrips}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="distBtwDrips"
                   name="distBtwDrips"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Разстояние между капкуватели</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="flowPerDrip" class="h5 mb-2">Дебит на капкувател</label>
            </div>
            <input type="text"
                   th:field="*{flowPerDrip}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="flowPerDrip"
                   name="flowPerDrip"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Дебит на капкувател</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="size" class="h5 mb-2">Дължина</label>
            </div>
            <input type="text"
                   th:field="*{size}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="size"
                   name="size"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Дължина</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="timeOfUse" class="h5 mb-2">Продължителност за използване</label>
            </div>
            <input type="text"
                   th:field="*{timeOfUse}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="timeOfUse"
                   name="timeOfUse"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Продължителност за използване</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="price" class="h5 mb-2">Цена</label>
            </div>
            <input type="text"
                   th:field="*{price}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="price"
                   name="price"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Цена</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="pieces" class="h5 mb-2">Брой</label>
            </div>
            <input type="text"
                   th:field="*{pieces}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="pieces"
                   name="pieces"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Брой</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="urlPic" class="h5 mb-2">Прибави снимка</label>
            </div>
            <!--            <input type="file" webkitdirectory directory multiple/>-->
            <input type="file"
                   th:field="*{urlPic}"
                   th:errorclass="'is-invalid alert-danger'"
                   accept="image/png, image/jpeg, image/jpg"
                   class="form-control"
                   id="urlPic"
                   name="urlPic"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Прибави снимка</small>
        </div>

        <div class="button-holder d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-warning mb-3" value="Register">Прибави</button>
        </div>
    </form>
</main>
<footer th:replace="fragments/fragment::footer"></footer>
</body>
</html>