<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="fragments/fragment :: head"></th:block>
    <title>Мелиорации</title>
    <style>
        body {
            background-image: url('/images/frontPage/nosel5.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            object-fit: cover;
            height: 100%;
        }
        .img-responsive {
            width: auto;
            height: 220px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/navbars::navigation"></div>

<div th:replace="fragments/navbars::admin-nav"></div>
<main>
<!--    <hr class="hr-3 w-25 bg-white"/>-->
    <form class="mx-auto w-25 bg-blur rounded"
          th:method="post"
          th:action="@{/admin/sprinklers}"
          th:object="${addSprinklerDTO}">

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="kind"
                       class="h5 mb-2">Вид</label>
            </div>
            <input type="text"
                   th:field="*{kind}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="kind"
                   name="kind"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Видът трябва да съдържа поне 1 символ.</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder  textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0" style="--bs-bg-opacity: .7">
                <label for="model" class="h5 mb-2">Модел</label>
            </div>
            <input type="text"
                   th:field="*{model}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="model"
                   name="model"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Моделът трябва да съдържа поне 2 символа.</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="make" class="h5 mb-2">Производител</label>
            </div>
            <input type="text"
                   th:field="*{make}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="make"
                   name="make"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Производител трябва да съдържа поне 1 символ.</small>
        </div>

        <div class="form-group mt-2">
            <h5 class="bg-danger rounded" th:if="${isExisting}">Има продукт с този код.</h5>
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="code" class="h5 mb-2">Код</label>
            </div>
            <input type="text"
                   th:field="*{code}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="code"
                   name="code"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Кодът трябва да съдържа поне 1 символ.</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="size" class="h5 mb-2">Размер</label>
            </div>
            <input type="text"
                   th:field="*{size}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="size"
                   name="size"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Размер</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="pressure" class="h5 mb-2">Налягане</label>
            </div>
            <input type="text"
                   th:field="*{pressure}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="pressure"
                   name="pressure"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Налягане</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="nosel" class="h5 mb-2">Дюза</label>
            </div>
            <input type="text"
                   th:field="*{nosel}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="nosel"
                   name="nosel"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Дюза</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="volume" class="h5 mb-2">Дебит</label>
            </div>
            <input type="text"
                   th:field="*{volume}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="volume"
                   name="volume"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Дебит</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="radius" class="h5 mb-2">Радиус</label>
            </div>
            <input type="text"
                   th:field="*{radius}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="radius"
                   name="radius"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Радиус</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="pieces" class="h5 mb-2">Брой</label>
            </div>
            <input type="text"
                   th:field="*{pieces}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="pieces"
                   name="pieces"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Брой</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="price" class="h5 mb-2">Цена</label>
            </div>
            <input type="text"
                   th:field="*{price}"
                   th:errorclass="'is-invalid alert-danger'"
                   class="form-control"
                   id="price"
                   name="price"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Цена</small>
        </div>

        <div class="form-group mt-2">
            <div class="label-holder textCol d-flex justify-content-center text-dark bg-light p-0 mt-0 pt-2 me-0 ms-0"
                 style="--bs-bg-opacity: .7">
                <label for="image" class="h5 mb-2">Прибави снимка</label>
            </div>
            <!--            <input type="file" webkitdirectory directory multiple/>-->
            <input type="file"
                   th:field="*{image}"
                   th:errorclass="'is-invalid alert-danger'"
                   accept="image/png, image/jpeg, image/jpg"
                   class="form-control"
                   id="image"
                   name="image"/>
            <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                   style="width:360px">Прибави снимка</small>
        </div>

        <div class="button-holder d-flex justify-content-center mt-4">
            <button type="submit" class="btn btn-warning mb-3" value="Register">Прибави</button>
        </div>
    </form>
</main>
<footer th:replace="fragments/fragment::footer"></footer>
</body>
</html>