<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <th:block th:insert="fragments/fragment :: head"></th:block>
    <title>Мелиорации</title>
    <style>
        body {
            background-image: url('/images/frontPage/admin4.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            object-fit: cover;
            height: 100%;
        }
    </style>
</head>
<body>
<div th:replace="fragments/fragment::navigation"></div>
<div class=" p-2 mt-2 pt-0 mb-2 pb-2 mask-custom-1"></div>

<div th:replace="fragments/fragment::admin-nav"></div>

<footer th:replace="fragments/fragment::footer"></footer>
</body>
</html>