<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <th:block th:insert="fragments/fragment :: head"></th:block>
    <title>Мелиорации</title>
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.css">-->
    <link rel="stylesheet" th:href="@{/css/styles-auth.css}">
</head>
<body>
<div th:replace="fragments/fragment::navigation"></div>
<div class=" p-0 mt-0 pt-0 mb-0 pb-0 mask-custom-1"></div>
<div class="container">
    <ul class="navbar-nav ms-auto mt-2">
        <main class="row">
            <!--            <form class="col hidden-md-down w-25 bg-blur rounded"-->

            <form th:class="${userDetails.address}!=null  ? 'col hidden-md-down w-25 bg-blur rounded' : 'col-6 offset-3' "

                  th:method="post"
                  th:action="@{/auth-home/}"
                  th:object="${authDTO}">
                <div class="form-group mt-2">
                    <th:block th:if="${userDetails.address==null and userDetails.phone==null}">
                        <div class="label-holder text-danger text-center text-wrap">
                            <label
                                    class="h4 mb-2 bg-light p-2 mt-0 me-0 ms-0 mask-custom-1"
                                    style="--bs-bg-opacity: .5">За поръчка са нужни адрес и телефон</label>
                        </div>
                    </th:block>
                    <div class="label-holder text-white textCol d-flex justify-content-center">
                        <label for="firstName" class="h4 mb-2">Име</label>
                    </div>
                    <input type="text"
                           th:value="${userDetails.firstName}"
                           th:errorclass="'is-invalid alert-danger'"
                           class="form-control"
                           id="firstName"
                           name="firstName"/>
                    <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning">
                        Името трябва да съдържа поне 2 символа.</small>
                </div>
                <div class="form-group mt-2">
                    <div class="label-holder text-white textCol d-flex justify-content-center">
                        <label for="lastName" class="h4 mb-2">Фамилия</label>
                    </div>
                    <input type="text"
                           th:value="${userDetails.lastName}"
                           th:errorclass="'is-invalid alert-danger'"
                           class="form-control"
                           id="lastName"
                           name="lastName"/>
                    <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning">
                        Фамилията трябва да съдържа поне 2 символа.</small>
                </div>
                <div class="form-group mt-2">
                    <div class="label-holder text-white textCol d-flex justify-content-center">
                        <label for="email" class="h4 mb-2">Имейл</label>
                    </div>
                    <input type="email"
                           th:field="${userDetails.email}"
                           th:errorclass="'is-invalid alert-danger'"
                           class="form-control"
                           id="email"
                           name="email" readonly/>
                    <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning"
                    >Моля, въведете валиден имейл</small>
                </div>
                <div class="form-group mt-2">
                    <div class="label-holder text-white textCol d-flex justify-content-center">
                        <label for="phone" class="h4 mb-2">Телефон</label>
                    </div>
                    <input type="text"
                           th:value="${userDetails.phone}"
                           th:errorclass="'is-invalid alert-danger'"
                           class="form-control"
                           id="phone"
                           name="phone"/>
                    <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning">
                        Номерът трябва да съдържа 10 цифри!</small>
                </div>
                <div class="form-group mt-2">
                    <div class="label-holder text-white textCol d-flex justify-content-center">
                        <label for="address" class="h4 mb-2">Адрес</label>
                    </div>
                    <input type="text"
                           th:value="${userDetails.address}"
                           th:errorclass="'is-invalid alert-danger'"
                           class="form-control"
                           id="address"
                           name="address"/>
                    <small class="invalid-feedback text-danger fw-bold bg-light text-center mx-auto bg-warning">
                        Адресът трябва да съдържа между 10 и 50 символа.</small>
                </div>
                <div class="button-holder d-flex justify-content-center mt-4">
                    <input id="myButton"
                           type="submit"
                           class="btn btn-warning mb-5"
                           th:value="Обнови"
                           th:href="@{/auth-home/{id}(id=*{id})}">
                </div>
            </form>

            <div th:if="${userDetails.address!=null and userDetails.phone!=null}"
                 class="col col-sm-10 col-md-10 col-lg-8 col-xl-8">

                <div class="h4 mb-2 bg-light p-2 mt-2 me-0 ms-0 mask-custom-1"
                     style="--bs-bg-opacity: .1">
                    <div class="align-bottom text-center">
                        <a th:href="@{/auth-home/{id}/orders(id=${getUserId})}"
                           class="btn btn-warning mb-1 me-2">Статус на поръчките ми</a>
                    </div>
                </div>

                <div class="bg-light p-2 mt-2 me-0 ms-0 mask-custom-1"
                     th:each="drips, iStat : ${dripNumsByUser}"
                     style="--bs-bg-opacity: .6">
                    <!--/*@thymesVar id="#getDrips" type="images"*/-->
                    <div th:if="drips != null" class="row d-flex pt-2 mb-2 ps-2 "
                         style="height: 22vh;
                 overflow: auto">
                        <div class="col-auto justify-content-center align-self-center">
                            <img th:src="${drips.urlPic}"
                                 class="img-responsive "
                                 alt=" ">
                        </div>
                        <!--                text block-->
                        <div class="col" style="width: 350px; height: 150px">
                            <div class="row">
                                <p class="fs-6 text-center fw-bold mb-0"
                                   th:text="|Име:  ${drips.name}|">Име</p>
                                <div class="col text-end ps-0 pe-0">
                                    <!--                        fs-6 text size-->
                                    <p class="fs-6 mb-0">Диаметър:</p>
                                    <p class="fs-6 mb-0">Дължина:</p>
                                    <p class="fs-6 mb-0">Продължителност за използване:</p>
                                    <p class="fs-6 mb-0">Разстояние между капкуватели:</p>
                                    <p class="fs-6 mb-0">Дебит на капкувател:</p>
                                    <p class="fs-6 mb-0">Максимално работно налягане:</p>
                                </div>
                                <div class="col-md-auto ms-2 me-2">
                                    <!--                        fs-6 text size-->
                                    <p class="fs-6 mb-0" th:text="|${drips.diameter} mm|">Диаметър</p>
                                    <p class="fs-6 mb-0" th:text="|${drips.size} m|">Дължина</p>
                                    <p class="fs-6 mb-0" th:text="|${drips.timeOfUse} г.|">Продължителност за
                                        използване</p>
                                    <p class="fs-6 mb-0" th:text="|${drips.distBtwDrips} cm|">Разстояние между
                                        капкуватели</p>
                                    <p class="fs-6 mb-0" th:text="|${drips.flowPerDrip} л/ч|">Дебит на капкувател</p>
                                    <p class="fs-6 mb-0" th:text="|${drips.maxPressure} атм.|">Максимално работно
                                        налягане</p>

                                </div>
                                <div class="col ps-0 pe-0 text-center" style="width: 28vh; overflow: auto">
                                    <div class="row container pt-0 pb-1 mb-1 mt-0 pe-0 ps-0">
                                        <div class="col text-end">
                                            <p class="fs-6 mb-0">Код:</p>

                                            <p type="hidden"
                                               class="fs-6 mb-0"
                                               style="display:none">Единична цена:</p>
                                            <p type="hidden"
                                               class="fs-6 mb-0"
                                               style="display:none">Наличност:</p>
                                            <p class="fs-6 mb-0">Цена:</p>
                                        </div>
                                        <div class="col text-start ">
                                            <p class="fs-6 mb-0" th:text="${drips.code}">Код</p>

                                            <p type="hidden" class="fs-6  mb-0 single-price"
                                               th:value="${drips.price}"
                                               th:text="|${drips.price} лв.|"
                                               style="display:none">Единична цена</p>
                                            <p type="hidden" class="fs-6 mb-0 availability"
                                               th:value="${drips.pieces}"
                                               th:text="|${drips.pieces} бр.|"
                                               style="display:none">Наличност:</p>
                                            <p class="fs-6 mb-0 price2"
                                               th:text="|${drips.price} лв.|">Цена:</p>
                                        </div>
                                    </div>
                                    <div class="input-spinner" th:high="50vh">
                                        <button onclick="stepper(this)"
                                                class="text-center decrement"
                                                style="width: 2vh">
                                            -
                                        </button>
                                        <input type="number"
                                               min="1"
                                               max="100"
                                               step="1"
                                               th:value="${drips.temporaryPieces}"
                                               class="my-input" readonly>
                                        <button onclick="stepper(this)"
                                                class="text-center increment"
                                                style="width: 2vh">
                                            +
                                        </button>
                                    </div>
                                    <div class="row container ps-4 ms-0 pe-0 me-0">
                                        <div class="col text-end me-0 pe-0 pt-2">
                                            <form th:method="post"
                                                  th:action="@{/auth-home/{id}/orders(id=${getUserId})}"
                                                  th:object="${dripDTO}"
                                                  class="fs-6 mb-0 button-holder d-flex justify-content-center mt-2">
                                                <label th:type="hidden" style="display:none"></label>
                                                <input th:type="hidden"
                                                       class=" id"
                                                       th:value="${drips.id}"
                                                       name="id"
                                                       style="display:none">

                                                <label th:type="hidden"
                                                       style="display:none"></label>
                                                <input th:type="hidden"
                                                       class=" name-element"
                                                       th:value="drip"
                                                       name="name"
                                                       style="display:none">

                                                <label th:type="hidden"
                                                       style="display:none"></label>
                                                <input th:type="hidden"
                                                       class=" price"
                                                       name="price"
                                                       style="display:none">
                                                <label th:type="hidden"
                                                       for="pieces"
                                                       style="display:none"></label>
                                                <input th:type="hidden"
                                                       id="pieces"
                                                       class=" pieces"
                                                       name="pieces"
                                                       style="display:none">
                                                <button class="btn btn-warning mb-1 me-2"
                                                        onclick="setAttributeDataAuthHome(this)">Потвърди
                                                </button>

                                            </form>
                                        </div>

                                        <div class="col text-start pt-3">
                                            <form class="fs-6 mb-0"
                                                  th:action="@{/auth-home/{id}(id=${getUserId})}"
                                                  th:method="delete">
                                                <label th:type="hidden" style="display:none"></label>
                                                <input th:type="hidden"
                                                       class=" id"
                                                       th:value="${drips.id}"
                                                       name="id"
                                                       style="display:none">
                                                <label th:type="hidden" style="display:none"></label>
                                                <input th:type="hidden"
                                                       class=" id"
                                                       th:value="drip"
                                                       name="name"
                                                       style="display:none">
                                                <input type="submit" class="btn btn-warning mb-1"
                                                       value="Откажи">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-light p-2 mt-2 me-0 ms-0 mask-custom-1"
                     th:each="sprinkler : ${sprinklerNumsByUser}"
                     style="--bs-bg-opacity: .6">
                    <!--/*@thymesVar id="#getDrips" type="images"*/-->
                    <div th:if="sprinkler != null" class="row d-flex pt-2 mb-2 ps-2 "
                         style="height: 25vh;
                 overflow: auto">
                        <div class="col-auto justify-content-center align-self-center">
                            <img th:src="${sprinkler.url}"
                                 class="img-responsive "
                                 alt=" " style="height: 20vh; overflow: auto">
                        </div>
                        <!--                text block-->
                        <div class="col" style="width: 350px; height: 150px">
                            <div class="row">
                                <p class="fs-6 text-center fw-bold mb-0"
                                   th:text="|Име:  ${sprinkler.kind}|">Вид:</p>
                                <div class="col text-end ps-0 pe-0">
                                    <!--                        fs-6 text size-->
                                    <p class="fs-6 mb-0">Модел:</p>
                                    <p class="fs-6 mb-0">Производител:</p>
                                    <p class="fs-6 mb-0">Размер:</p>
                                    <p class="fs-6 mb-0">Налягане:</p>
                                    <p class="fs-6 mb-0">Дюза:</p>
                                    <p class="fs-6 mb-0">Дебит:</p>
                                    <p class="fs-6 mb-0">Радиус:</p>
                                </div>
                                <div class="col-md-auto ms-2 me-2">
                                    <!--                        fs-6 text size-->
                                    <p class="fs-6 mb-0" th:text="${sprinkler.model}">Модел</p>
                                    <p class="fs-6 mb-0" th:text="${sprinkler.make}">Производител</p>
                                    <p class="fs-6 mb-0" th:text="|${sprinkler.size}|">Размер</p>
                                    <p class="fs-6 mb-0" th:text="|${sprinkler.pressure} атм.|">Налягане</p>
                                    <p class="fs-6 mb-0" th:text="|${sprinkler.nosel} mm|">Дюза</p>
                                    <p class="fs-6 mb-0" th:text="|${sprinkler.volume} л/мин.|">Дебит</p>
                                    <p class="fs-6 mb-0" th:text="|${sprinkler.radius} m|">Радиус</p>

                                </div>
                                <div class="col ps-0 pe-0 text-center" style="width: 28vh; overflow: auto">
                                    <div class="row container pt-0 pb-1 mb-1 mt-0 pe-0 ps-0">
                                        <div class="col text-end">
                                            <p class="fs-6 mb-0">Код:</p>
                                            <p type="hidden"
                                               class="fs-6 mb-0"
                                               style="display:none">Единична цена:</p>
                                            <p type="hidden"
                                               class="fs-6 mb-0"
                                               style="display:none">Наличност:</p>
                                            <p class="fs-6 mb-0">Цена:</p>
                                        </div>
                                        <div class="col text-start ">
                                            <p class="fs-6 mb-0" th:text="${sprinkler.code}">Код</p>
                                            <p type="hidden" class="fs-6  mb-0 single-price"
                                               th:value="${sprinkler.price}"
                                               th:text="|${sprinkler.price} лв.|"
                                               style="display:none">Единична цена</p>
                                            <p type="hidden" class="fs-6 mb-0 availability"
                                               th:value="${sprinkler.pieces}"
                                               th:text="|${sprinkler.pieces} бр.|"
                                               style="display:none">Наличност:</p>
                                            <p class="fs-6 mb-0 price2"
                                               th:text="|${sprinkler.price} лв.|">Цена:</p>
                                        </div>
                                    </div>
                                    <div class="input-spinner" th:high="50vh">
                                        <button onclick="stepper(this)"
                                                class="text-center decrement"
                                                style="width: 2vh">
                                            -
                                        </button>
                                        <input type="number"
                                               min="1"
                                               max="100"
                                               step="1"
                                               th:value="${sprinkler.temporaryPieces}"
                                               class="my-input" readonly>
                                        <button onclick="stepper(this)"
                                                class="text-center increment"
                                                style="width: 2vh">
                                            +
                                        </button>
                                    </div>
                                    <div class="row container ps-4 ms-0 pe-0 me-0">
                                        <div class="col text-end me-0 pe-0 pt-2">
                                            <form th:method="post"
                                                  th:action="@{/auth-home/{id}/orders(id=${getUserId})}"
                                                  th:object="${dripDTO}"
                                                  class="fs-6 mb-0 button-holder d-flex justify-content-center mt-2">
                                                <label th:type="hidden" style="display:none"></label>
                                                <input th:type="hidden"
                                                       class=" id"
                                                       th:value="${sprinkler.id}"
                                                       name="id"
                                                       style="display:none">

                                                <label th:type="hidden"
                                                       style="display:none"></label>
                                                <input th:type="hidden"
                                                       class=" name-element"
                                                       th:value="sprinkler"
                                                       name="name"
                                                       style="display:none">

                                                <label th:type="hidden"
                                                       style="display:none"></label>
                                                <input th:type="hidden"
                                                       class=" price"
                                                       name="price"
                                                       style="display:none">
                                                <label th:type="hidden"
                                                       for="pieces"
                                                       style="display:none"></label>
                                                <input th:type="hidden"
                                                       class=" pieces"
                                                       name="pieces"
                                                       style="display:none">
                                                <button class="btn btn-warning mb-1 me-2"
                                                        onclick="setAttributeDataAuthHome(this)">Потвърди
                                                </button>
                                            </form>
                                        </div>

                                        <div class="col text-start pt-3">
                                            <form class="fs-6 mb-0"
                                                  th:action="@{/auth-home/{id}(id=${getUserId})}"
                                                  th:method="delete">
                                                <label th:type="hidden" style="display:none"></label>
                                                <input th:type="hidden"
                                                       class=" id"
                                                       th:value="${sprinkler.id}"
                                                       name="id"
                                                       style="display:none">
                                                <label th:type="hidden" style="display:none"></label>
                                                <input th:type="hidden"
                                                       class=" name"
                                                       th:value="sprinkler"
                                                       name="name"
                                                       style="display:none">
                                                <input type="submit"
                                                       class="btn btn-warning mb-1"
                                                       value="Откажи">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-light p-2 mt-2 me-0 ms-0 mask-custom-1"
                     th:each="pump : ${pumpNumsByUser}"
                     style="--bs-bg-opacity: .6">
                    <!--/*@thymesVar id="#getDrips" type="images"*/-->
                    <div th:if="pump != null" class="row d-flex pt-2 mb-2 ps-2 "
                         style="height: 28vh;
                 overflow: auto">
                        <div class="col-auto justify-content-center align-self-center">
                            <img th:src="${pump.urlPic}"
                                 class="img-responsive "
                                 alt=" " style="height: 20vh; overflow: auto">
                        </div>
                        <!--                text block-->
                        <div class="col" style="width: 350px; height: 150px">
                            <div class="row">
                                <p class="fs-6 text-center fw-bold mb-0"
                                   th:text="|Име:  ${pump.kind}|">Вид:</p>
                                <div class="col text-end ps-0 pe-0">
                                    <!--                        fs-6 text size-->
                                    <p class="fs-6 mb-0">Модел:</p>
                                    <p class="fs-6 mb-0">Производител:</p>
                                    <p class="fs-6 mb-0">Макс. раб. налягане:</p>
                                    <p class="fs-6 mb-0">Входен диаметър:</p>
                                    <p class="fs-6 mb-0">Изходен диаметър:</p>
                                    <p class="fs-6 mb-0">Тегло на помпа:</p>
                                    <p class="fs-6 mb-0">Номинална мощност:</p>
                                    <p class="fs-6 mb-0">Номинален ток:</p>
                                </div>
                                <div class="col-md-auto ms-2 me-2">
                                    <!--                        fs-6 text size-->
                                    <p class="fs-6 mb-0" th:text="${pump.model}">Модел</p>
                                    <p class="fs-6 mb-0" th:text="${pump.make}">Производител</p>
                                    <p class="fs-6 mb-0" th:text="|${pump.maxWorkingPressure} атм.|">Макс. раб. налягане</p>
                                    <p class="fs-6 mb-0" th:text="|${pump.diameterInlet}|">Входен диаметър</p>
                                    <p class="fs-6 mb-0" th:text="|${pump.diameterOutlet}|">Изходен диаметър</p>
                                    <p class="fs-6 mb-0" th:text="|${pump.weight} kg|">Тегло на помпа</p>
                                    <p class="fs-6 mb-0" th:text="|${pump.power} kW|">Номинална мощност</p>
                                    <p class="fs-6 mb-0" th:text="|${pump.current} A|">Номинален ток</p>

                                </div>
                                <div class="col ps-0 pe-0 text-center" style="width: 28vh; overflow: auto">
                                    <div class="row container pt-0 pb-1 mb-1 mt-0 pe-0 ps-0">
                                        <div class="col text-end">
                                            <p class="fs-6 mb-0">Код:</p>
                                            <p class="fs-6 mb-0">Напор:</p>
                                            <p class="fs-6 mb-0">Захранване:</p>
                                            <p type="hidden"
                                               class="fs-6 mb-0"
                                               style="display:none">Единична цена:</p>
                                            <p type="hidden"
                                               class="fs-6 mb-0"
                                               style="display:none">Наличност:</p>
                                            <p class="fs-6 mb-0">Цена:</p>
                                        </div>
                                        <div class="col text-start ">
                                            <p class="fs-6 mb-0" th:text="${pump.code}">Код</p>
                                            <p class="fs-6 mb-0" th:text="|${pump.head} m|">Напор</p>
                                            <p class="fs-6 mb-0" th:text="|${pump.voltage} V|">Захранване</p>
                                            <p type="hidden" class="fs-6  mb-0 single-price"
                                               th:value="${pump.price}"
                                               th:text="|${pump.price} лв.|"
                                               style="display:none">Единична цена</p>
                                            <p type="hidden" class="fs-6 mb-0 availability"
                                               th:value="${pump.pieces}"
                                               th:text="|${pump.pieces} бр.|"
                                               style="display:none">Наличност:</p>
                                            <p class="fs-6 mb-0 price2"
                                               th:text="|${pump.price} лв.|">Цена:</p>
                                        </div>
                                    </div>
                                    <div class="input-spinner" th:high="50vh">
                                        <button onclick="stepper(this)"
                                                class="text-center decrement"
                                                style="width: 2vh">
                                            -
                                        </button>
                                        <input type="number"
                                               min="1"
                                               max="100"
                                               step="1"
                                               th:value="${pump.temporaryPieces}"
                                               class="my-input" readonly>
                                        <button onclick="stepper(this)"
                                                class="text-center increment"
                                                style="width: 2vh">
                                            +
                                        </button>
                                    </div>
                                    <div class="row container ps-4 ms-0 pe-0 me-0">
                                        <div class="col text-end me-0 pe-0 pt-2">
                                            <form th:method="post"
                                                  th:action="@{/auth-home/{id}/orders(id=${getUserId})}"
                                                  th:object="${dripDTO}"
                                                  class="fs-6 mb-0 button-holder d-flex justify-content-center mt-2">
                                                <label th:type="hidden" style="display:none"></label>
                                                <input th:type="hidden"
                                                       class=" id"
                                                       th:value="${pump.id}"
                                                       name="id"
                                                       style="display:none">

                                                <label th:type="hidden"
                                                       style="display:none"></label>
                                                <input th:type="hidden"
                                                       class=" name-element"
                                                       th:value="pump"
                                                       name="name"
                                                       style="display:none">

                                                <label th:type="hidden"
                                                       style="display:none"></label>
                                                <input th:type="hidden"
                                                       class=" price"
                                                       name="price"
                                                       style="display:none">
                                                <label th:type="hidden"
                                                       for="pieces"
                                                       style="display:none"></label>
                                                <input th:type="hidden"
                                                       class=" pieces"
                                                       name="pieces"
                                                       style="display:none">
                                                <button class="btn btn-warning mb-1 me-2"
                                                        onclick="setAttributeDataAuthHome(this)">Потвърди
                                                </button>
                                            </form>
                                        </div>

                                        <div class="col text-start pt-3">
                                            <form class="fs-6 mb-0"
                                                  th:action="@{/auth-home/{id}(id=${getUserId})}"
                                                  th:method="delete">
                                                <label th:type="hidden" style="display:none"></label>
                                                <input th:type="hidden"
                                                       class=" id"
                                                       th:value="${pump.id}"
                                                       name="id"
                                                       style="display:none">
                                                <label th:type="hidden" style="display:none"></label>
                                                <input th:type="hidden"
                                                       class=" name"
                                                       th:value="pump"
                                                       name="name"
                                                       style="display:none">
                                                <input type="submit" class="btn btn-warning mb-1"
                                                       value="Откажи">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </ul>
</div>
<footer th:replace="fragments/fragment::footer"></footer>
</body>
</html>