<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec='http://www.thymeleaf.org/extras/spring-security' xmlns:HH="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:insert="fragments/fragment :: head"></th:block>
    <title>Мелиорации</title>
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.css">-->
    <link rel="stylesheet" th:href="@{/css/styles-orders.css}">
</head>
<body>
<div th:replace="fragments/navbars::navigation"></div>
<div class=" p-0 mt-0 pt-0 mb-0 pb-0 mask-custom-1"></div>
<div class="container">
    <ul class="navbar-nav mt-3 position-relative ps-5 pe-5">

        <main class="bg-light p-2 mt-2 me-0 ms-0 mask-custom-1"
              th:each="drips, iStat : ${dripNumsByUser}"
              style="--bs-bg-opacity: .6">
            <!--            <form class="col hidden-md-down w-25 bg-blur rounded"-->
            <div class="row pt-2 mb-2 ps-2">
                <!--/*@thymesVar id="#getDrips" type="images"*/-->
                <div class="col-auto gallery">
                    <img th:src="${drips.urlPic}"
                         class="img-responsive justify-content-center align-self-center"
                         alt=" ">
                </div>
                <!--                text block-->
                <div class="col" style="width: 350px; height: 150px">
                    <div class="row">
                        <div class="col text-end ps-0 pe-0">
                            <!--                        fs-6 text size-->
                            <p class="fs-6 mb-0 fw-bold ">Име:</p>
                            <p class="fs-6 mb-0">Диаметър:</p>
                            <p class="fs-6 mb-0">Дебит на капкувател:</p>
                            <p class="fs-6 mb-0">Максимално работно налягане:</p>
                            <p class="fs-6 mb-0">Продължителност за използване:</p>
                            <p class="fs-6 mb-0">Разстояние между капкуватели:</p>

                        </div>
                        <div class="col-md-auto ms-2 me-2">
                            <!--                        fs-6 text size-->
                            <p class="fs-6 fw-bold mb-0" th:text="${drips.name}">Име</p>
                            <p class="fs-6 mb-0" th:text="|${drips.diameter} mm|">Диаметър</p>
                            <p class="fs-6 mb-0" th:text="|${drips.flowPerDrip} л/ч|">Дебит на капкувател</p>
                            <p class="fs-6 mb-0" th:text="|${drips.maxPressure} атм.|">Максимално работно налягане</p>
                            <p class="fs-6 mb-0" th:text="|${drips.timeOfUse} г.|">Продължителност за използване</p>
                            <p class="fs-6 mb-0" th:text="|${drips.distBtwDrips} cm|">Разстояние между капкуватели</p>
                        </div>
                        <div class="col ps-0 pe-0 text-center" style="width: 28vh; overflow: auto">
                            <div class="row container pt-0 pb-1 mb-1 mt-0 pe-0 ps-0">
                                <div class="col text-end">
                                    <p class="fs-6 fw-bold mb-0">Статус:</p>
                                    <p class="fs-6 mb-0">Дата на поръчката:</p>
                                    <p class="fs-6 mb-0">Код:</p>
                                    <p class="fs-6 mb-0">Дължина:</p>
                                    <p class="fs-6 mb-0">Брой:</p>
                                    <p class="fs-6 mb-0">Цена:</p>
                                </div>
                                <div class="col text-start ">
                                    <p class="fs-6 fw-bold mb-0" th:text="${drips.status}">Статус</p>
                                    <p class="fs-6 mb-0" th:text="${#temporals.format(drips.orderDate,'yyyy-MM-dd HH:mm')}">Дата на поръчката:</p>
                                    <p class="fs-6 mb-0" th:text="${drips.code}">Код</p>
                                    <p class="fs-6 mb-0" th:text="|${drips.size} m|">Дължина</p>
                                    <p class="fs-6 mb-0" th:text="|${drips.pieces} бр.|">Брой</p>
                                    <p class="fs-6 mb-0 price2" th:text="|${drips.price} лв.|">Стойност:</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <main class="bg-light p-2 mt-2 me-0 ms-0 mask-custom-1"
              th:each="sprinkler, iStat : ${sprinklerNumsByUser}"
              style="--bs-bg-opacity: .6">
            <!--            <form class="col hidden-md-down w-25 bg-blur rounded"-->
            <div class="row pt-2 mb-2 ps-2">
                <!--/*@thymesVar id="#getDrips" type="images"*/-->
                <div class="col-auto gallery">
                    <img th:src="${sprinkler.url}"
                         class="img-responsive justify-content-center align-self-center"
                         alt=" " style="height: 20vh; overflow: auto">
                </div>
                <!--                text block-->
                <div class="col" style="width: 350px; height: 170px">
                    <div class="row">
                        <div class="col text-end ps-0 pe-0">
                            <!--                        fs-6 text size-->
                            <p class="fs-6 mb-0 fw-bold ">Вид:</p>
                            <p class="fs-6 mb-0">Модел:</p>
                            <p class="fs-6 mb-0">Производител:</p>
                            <p class="fs-6 mb-0">Размер:</p>
                            <p class="fs-6 mb-0">Налягане:</p>
                            <p class="fs-6 mb-0">Дюза:</p>
                            <p class="fs-6 mb-0">Дебит:</p>

                        </div>
                        <div class="col-md-auto ms-2 me-2">
                            <!--                        fs-6 text size-->
                            <p class="fs-6 fw-bold mb-0" th:text="${sprinkler.kind}">Вид</p>
                            <p class="fs-6 mb-0" th:text="${sprinkler.model}">Модел</p>
                            <p class="fs-6 mb-0" th:text="${sprinkler.make}">Производител</p>
                            <p class="fs-6 mb-0" th:text="|${sprinkler.size}|">Размер</p>
                            <p class="fs-6 mb-0" th:text="|${sprinkler.pressure} атм.|">Налягане</p>
                            <p class="fs-6 mb-0" th:text="|${sprinkler.nosel} mm|">Дюза</p>
                            <p class="fs-6 mb-0" th:text="|${sprinkler.volume} л/мин.|">Дебит</p>
                        </div>
                        <div class="col ps-0 pe-0 text-center" style="width: 28vh; overflow: auto">
                            <div class="row container pt-0 pb-1 mb-1 mt-0 pe-0 ps-0">
                                <div class="col text-end">
                                    <p class="fs-6 fw-bold mb-0">Статус:</p>
                                    <p class="fs-6 mb-0">Дата на поръчката:</p>
                                    <p class="fs-6 mb-0">Код:</p>
                                    <p class="fs-6 mb-0">Брой:</p>
                                    <p class="fs-6 mb-0">Цена:</p>
                                </div>
                                <div class="col text-start ">
                                    <p class="fs-6 fw-bold mb-0" th:text="${sprinkler.status}">Статус</p>
                                    <p class="fs-6 mb-0" th:text="${#temporals.format(sprinkler.orderDate,'yyyy-MM-dd HH:mm')}">Дата на поръчката:</p>
                                    <p class="fs-6 mb-0" th:text="${sprinkler.code}">Код</p>
                                    <p class="fs-6 mb-0" th:text="|${sprinkler.pieces} бр.|">Брой</p>
                                    <p class="fs-6 mb-0 price2" th:text="|${sprinkler.price} лв.|">Цена:</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <main class="bg-light p-2 mt-2 me-0 ms-0 mask-custom-1"
              th:each="pump, iStat : ${pumpNumsByUser}"
              style="--bs-bg-opacity: .6">
            <!--            <form class="col hidden-md-down w-25 bg-blur rounded"-->
            <div class="row pt-2 mb-2 ps-2">
                <!--/*@thymesVar id="#getDrips" type="images"*/-->
                <div class="col-auto gallery">
                    <img th:src="${pump.urlPic}"
                         class="img-responsive justify-content-center align-self-center"
                         alt=" " style="height: 20vh; overflow: auto">
                </div>
                <!--                text block-->
                <div class="col" style="width: 350px; height: 170px">
                    <div class="row">
                        <div class="col text-end ps-0 pe-0">
                            <!--                        fs-6 text size-->
                            <p class="fs-6 fw-bold mb-0">Вид:</p>
                            <p class="fs-6 mb-0">Модел:</p>
                            <p class="fs-6 mb-0">Производител:</p>

                            <p class="fs-6 mb-0">Макс. раб. налягане:</p>
                            <p class="fs-6 mb-0">Входен диаметър:</p>
                            <p class="fs-6 mb-0">Изходен диаметър:</p>
                            <p class="fs-6 mb-0">Тегло на помпа:</p>

                        </div>
                        <div class="col-md-auto ms-2 me-2">
                            <!--                        fs-6 text size-->
                            <p class="fs-6 fw-bold mb-0" th:text="${pump.kind}">Вид:</p>
                            <p class="fs-6 mb-0" th:text="${pump.model}">Модел:</p>
                            <p class="fs-6 mb-0" th:text="${pump.make}">Производител:</p>
                            <p class="fs-6 mb-0" th:text="|${pump.maxWorkingPressure} atm.|">Макс. раб. налягане:</p>
                            <p class="fs-6 mb-0" th:text="${pump.diameterInlet}">Вход:</p>
                            <p class="fs-6 mb-0" th:text="${pump.diameterOutlet}">Изход:</p>
                            <p class="fs-6 mb-0" th:text="|${pump.weight} kg|">Тегло на помпа:</p>
                        </div>
                        <div class="col ps-0 pe-0 text-center" style="width: 28vh; overflow: auto">
                            <div class="row container pt-0 pb-1 mb-1 mt-0 pe-0 ps-0">
                                <div class="col text-end">
                                    <p class="fs-6 fw-bold mb-0">Статус:</p>
                                    <p class="fs-6 mb-0">Дата на поръчката:</p>
                                    <p class="fs-6 mb-0">Код:</p>
                                    <p class="fs-6 mb-0">Напор:</p>
                                    <p class="fs-6 mb-0">Брой:</p>
                                    <p class="fs-6 mb-0">Цена:</p>
                                </div>
                                <div class="col text-start ">
                                    <p class="fs-6 fw-bold mb-0" th:text="${pump.status}">Статус</p>
                                    <p class="fs-6 mb-0" th:text="${#temporals.format(pump.orderDate,'yyyy-MM-dd HH:mm')}">Дата на поръчката:</p>
                                    <p class="fs-6 mb-0" th:text="${pump.code}">Код</p>
                                    <p class="fs-6 mb-0" th:text="|${pump.head} m|">Напор:</p>
                                    <p class="fs-6 mb-0" th:text="|${pump.pieces} бр.|">Брой</p>
                                    <p class="fs-6 mb-0 price2" th:text="|${pump.price} лв.|">Цена:</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </ul>
</div>
<footer th:replace="fragments/fragment::footer"></footer>
</body>
</html>
<!--th:href="@{/auth-home/{id}(id=${user.id})}">-->
