.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.bg-success {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
/*used for text in front page*/
#more {display: none;}

