.btn {
    padding: 10px 6px;
    border-radius: 20px;
    border: 1px solid var(--color-blue);
    background-color: white;
    color: var(--color-blue);
    cursor: pointer;
}

.btn--primary {
    background-color: var(--color-blue);
    color: white;
}

.tag {
    padding: 10px 12px;
    border-radius: 20px;
    background-color: var(--color-gray-light);
    color: var(--color-gray);
    font-weight: bold;
    list-style: none;
}