html {
    font-family: Helvetica, sans-serif;
}

nav {
    display: inline-block;
    border-bottom: 2px solid black;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 0;
}

header nav ul li,
div {
    display: inline-block;
}

ul {
    padding: 0;
}

div {
    margin-right: 50px;
    font-size: 50px;
}

li {
    list-style: none;
    margin-right: 30px;
    text-decoration: none;
    color: green;
}


/* nav ul li:nth-child(1) {
    font-size: 50px;
    font-weight: bold;
    margin-right: 100px;
} */

main {
    margin-top: 30px;
}