@media screen and (max-width: 1100px) {
  .login {
    width: 60%;
  }
  .info__history .button,
  .info__hive .button {
    left: calc(50% - 20px);


  }
}

@media screen and (max-width: 800px) {

  .info {
    display: block;
  }

  .info__history,
  .info__hive {
    width: 100%;
  }

  .info__history img,
  .info__hive img {
    height: calc(8rem + 36px);
  }

  /* .products__honey,
  .products__pollen {
    padding-bottom: 20px;
  } */

  .products__type {
    display: block;
  }

  .products__pollen,
  .products__honey {
    width: 100%;
    margin-bottom: 20px;
  }

  .products__propolis {
    width: 100%;
    margin-bottom: 0px;
  }

  .products {
    margin-bottom: 0;
  }


}