body {
    background-color: #e4e978;
}

article {
    padding: 5px 15px;
    margin: 15px 10px;
    background-color: #f2f4c0;
    border: 1px solid #b2ad7d;
}

section>article {
    padding: 5px 15px;
    margin: 15px 10px;
    color: #5c6e91;
    font-style: italic;
    background-color: #f2f4c0;
    border: 1px solid #b2ad7d;
}

div {
    font-size: 28px;
    margin: 20px 0px;
    font-weight: bold;
}